@charset "UTF-8";

ol {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 201px;
	margin: auto;
}

ol li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 201px;
	list-style-type: none;
}

ol li img {
	width: 100%;
 }

ol+div {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 201px;
	margin: auto;
	z-index: 9999;
	background: rgba(0,0,0,0);
	cursor: pointer;
}
